
/* Your CSS Code here. */
.holder{
    border: 2px solid rgb(240, 1, 1);
    width:800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    }

    .item{
    border: 2px solid rgb(3, 255, 28);
    height: 200px;
    width: 50px;
    }